* {
	font-family: "Noto Sans JP", sans-serif;
}

.title {
	text-align: center;
	padding: 30px 0;
}

#draw {
	margin-top: 20px;
	margin-bottom: 50px;
}

body, footer {
	background-color: #F1F1F1;
}

#img_fighter {
	margin: 15px 0 50px;
}

#result {
	margin-bottom: 100px;
}